<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicLua" version="1.1.2.0" targetFramework="net461" />
  <package id="Gentex" version="1.0.4.485" targetFramework="net461" />
  <package id="Gentex.Devcomm" version="1.0.52" targetFramework="net461" />
  <package id="Gentex.MES.BinaryObjectStorageSystem.Contracts" version="1.0.5" targetFramework="net461" />
  <package id="Gentex.MES.Client.Contracts" version="1.1.161" targetFramework="net461" />
  <package id="Gentex.MES.Client.Host.Contracts" version="1.1.57" targetFramework="net461" />
  <package id="Gentex.MES.Core" version="1.0.0" targetFramework="net461" />
  <package id="Gentex.MES.Domain.Contracts" version="1.0.24" targetFramework="net461" />
  <package id="Gentex.MES.EntityModel.Contracts" version="3.0.16" targetFramework="net461" />
  <package id="Gentex.MES.LegacyDataClient.Contracts" version="1.0.40" targetFramework="net461" />
  <package id="Gentex.ProcessControl.GPS.Client" version="1.2.4" targetFramework="net461" />
  <package id="Gentex.Redis" version="0.11.1" targetFramework="net461" />
  <package id="Gentex.Security.Contracts" version="1.0.8" targetFramework="net461" />
  <package id="Gentex.Tester" version="1.1.3" targetFramework="net461" />
  <package id="Gentex.Tester.DeviceComm" version="1.1.33" targetFramework="net461" />
  <package id="Gentex.Utility.Publication.Contracts" version="1.0.0" targetFramework="net461" />
  <package id="GPSServices" version="2.1.3" targetFramework="net461" />
  <package id="MesAPI.Contracts" version="1.1.30" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="4.5.8" targetFramework="net461" />
  <package id="NLua" version="1.3.2.1" targetFramework="net461" />
  <package id="package.mscorlib" version="1.0.1" targetFramework="net461" />
  <package id="ReflectionMagic" version="1.1" targetFramework="net461" />
  <package id="SlowCheetah" version="2.5.48" targetFramework="net461" />
  <package id="StackExchange.Redis" version="1.0.481" targetFramework="net461" />
</packages>